.contact-wrap{
    height: 100vh;
}
.content-content{
    background-color:rgb(201, 134, 33) ;
    margin-top:15%;
    border: 0.5px solid rgb(235, 172, 114);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}