.fronPageWrap{
   display: flex;
   justify-content: space-around;

   height: 100vh;
  /* background-image: linear-gradient(to right,#fffc00 ,#ffffff); */
}

.fronPageWrap img{
   width: 500px;
   height: 90vh;
   margin-top: 50px;

   border: 2px dashed black;
   border-radius: 2cm;


   transition: width 2s, height 2s, transform 2s;
   box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.fronPageWrap img:hover{

   
   width: 300px;
   height: 300px;
   transform: rotate(180deg);
}