.location-wrap{
    display: grid;
    grid-template-columns: auto auto auto;
}
.main-location-wrap {
    
    padding-left:5.2%;
    margin-top: 5%;
}
.location-wrap{
    padding: 90px;
}
.main-location-wrap h1{
   display: flex;
   justify-content: center;
   font-family: 'Poppins', sans-serif;
}
.inner-location{
    border: 1px solid white;
    width: 380px;
    margin-top: 10px;
    padding: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; */
}